html {
  background-color: #f2f2f2;
}

body {
  padding: 0;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  background-position: top center;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 72px;
}

.main-header {
  margin: 0;
  padding: 0;
}

.main-header-logo {
  position: absolute;
  z-index: 2;
  width: 138px;
  height: 71px;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  margin: 0px;
  padding: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-navigation-left {
  text-align: left;
  margin-right: 4%;
  padding: 0;
  width: 50%;
}

.site-navigation-right {
  text-align: right;
  margin-left: 4%;
  padding: 0;
  width: 50%;
}
.site-navigation li {
  width: 50%;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 19px;
  color: #000000;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #b2b2b2;
}

.site-navigation a:active {
  color: #766357;
}

.container {
  margin: 0 auto;
  padding: 0;
}

.background {
  width: 1200px;
  height: 510px;
  background-color: #81b3d2;
  background-image: url(../img/background-photo.jpg);
  position: relative;
  background-position-y: -56px;
}

.background::before {
  height: 353px;
  width: 459px;
  content: "";
  background-color: #ffffff;
  background: url(../img/welcome.png) no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 5px;
  right: 0;
}

.background::after {
  height: 59px;
  width: 1200px;
  content: "";
  background-color: #ffffff;
  background: url(../img/intro-mask.svg);
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 5;
  margin-bottom: -2px;
}

.slogan {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  /* */
}

.slogan h2 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  padding-top: 57px;
  padding-bottom: 35px;
}

.features-text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: -7px;
  padding: 0;
  padding-bottom: 59px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feature-item-1 {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feature-item-2 {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.feature-item-blue {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: #81b3d2;
  background-position: 0 0;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  padding-bottom: 64px;
  padding-top: 46px;
  width: 33.3%;
  text-align: center;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.feature-item-blue h2 {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 0;
}

.feature-item-blue p {
  padding-top: 11px;
  margin-bottom: -5px;
}

.feature-item-image {
  margin: 0;
  padding: 0;
  width: 66.6%;
  display: block;
}

.flag {
  background-image: url(../img/flag.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.devil-bridge {
  background-image: url(../img/devil-bridge.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.feature-item-advantage {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.feature-item-advantage li{
    padding-bottom: 84px;
}

.feature-item-advantage h3 {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  margin-top: 7px;
}

.feature-item-advantage-house {
  margin: 0;
  padding: 0;
  margin-top: 156px;
  width: 33.3%;
  text-align: center;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  position: relative;
}

.feature-item-advantage-house::before {
  content: "";
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -94px;
  left: 40%;
}

.feature-item-advantage-text {
  margin: 0;
  padding: 0;
}

.feature-item-advantage-food {
  margin: 0;
  padding: 0;
  margin-top: 156px;
  width: 33.3%;
  text-align: center;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  position: relative;
}

.feature-item-advantage-food::before {
  content: "";
  width: 74px;
  height: 70px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -94px;
}

.feature-item-advantage-souvenirs {
  margin: 0;
  padding: 0;
  margin-top: 156px;
  width: 33.3%;
  text-align: center;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  position: relative;
}

.feature-item-advantage-souvenirs::before {
  content: "";
  width: 64px;
  height: 76px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -98px;
}

.other-items {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  background-color: #eeeeee;
}

.feature-item-gray {
  color: #000000;
  background-color: #eeeeee;
  background-position: 0 0;
  background-repeat: repeat;
  width: 33.3%;
  padding-top: 46px;
  padding-bottom: 78px;
  text-align: center;
}

.feature-item-gray h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 25px;
  margin-top: 0px;
}

.feature-item-gray {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333
}

.feature-item-gray-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-bottom: -19px;
  margin-top: 20px;
}

.booking {
  width: 100%;
  margin: 0;
  padding: 0;
}

.booking h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
}

.booking-info-outline {
  margin: auto;
  padding-top: 51px;
  padding-bottom: 67px;
  text-align: center;
}

.booking-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 24px;
  margin-bottom: -22px;
}

.booking-form-outline {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.booking-form-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  width: 568px;
  height: 86px;
  border: none;
  text-transform: uppercase;
}

.booking-form {
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 568px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.modal-show {
  display: none;
}

.booking-form-title:hover {
  background-color: #604e43;
}

.booking-form-title:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #503e33;
}

.booking-item {
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 29px;
  position: relative;
}

.booking-item label {
  margin-right: 18px;
  width: 115px;
  text-align: left;
}

.booking-item input {
  width: 420px;
  height: 38px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 55px;
  margin: 0;
  padding-left: 11px;
  position: relative;
}

.booking-form-calendar {
  display: block;
  width: 38px;
  height: 36px;
  border: none;
  position: absolute;
  right: 2px;
  top: 2px;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calendar-icon path {
  fill: #a9a9a9;
}

.booking-form-calendar:hover path {
  fill: #000000;
}

.booking-form-calendar:active path {
  fill: #81b3d2;
}

.up-disabled path {
  fill: #a9a9a9;
}

.up-disabled:hover path {
  fill: #000000;
}

.up-disabled:active path {
  fill: #81b3d2;
}

.down-active path {
  fill: #81b3d2;
}

.down-active:hover path {
  fill: #000000;
}

.down-active:active path {
  fill: #81b3d2;
}

.booking-item input:hover {
  background-color: #ebebeb;
  border: none;
}

.booking-item input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

.guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adults {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 228px;
  margin: 0;
  padding: 0;
  margin-right: 50px;
  margin-bottom: 30px;
}

.adults label {
  padding-right: 41px;
  padding-top: 6px;
}

.adults input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  margin-left: -2px;
}

.number-of-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.children {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 178px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.children label {
  padding-right: 30px;
  padding-top: 8px;
}

.children input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  margin-left: -3px;
}

.booking-form-minus {
  width: 38px;
  height: 38px;
  display: inline-block;
  font-size: 26px;
  line-height: 26px;
  color: #a9a9a9;
  border: none;
  background-color: #f2f2f2;
  vertical-align: baseline;
}

.booking-form-minus:hover {
  font-size: 26px;
  line-height: 26px;
  color: #000000;
  border: none;
}

.booking-form-minus:active {
  font-size: 26px;
  line-height: 26px;
  color: #81b3d2;
  border: none;
}

.booking-form-plus {
  width: 38px;
  height: 38px;
  font-size: 26px;
  line-height: 26px;
  color: #a9a9a9;
  border: none;
  background-color: #f2f2f2;
}

.booking-form-plus:hover {
  font-size: 26px;
  line-height: 26px;
  color: #000000;
  border: none;
}

.booking-form-plus:active {
  font-size: 26px;
  line-height: 26px;
  color: #81b3d2;
  border: none;
}

.button {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 58px;
  margin-top: 25px;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  opacity: 0.3;
  background-color: #5496bd;
}

.main-footer {
  margin: 0;
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  position: relative;
  padding-top: 35px;
  padding-bottom: 34px;
}

.map {
  background-color: #cbdda9;
  background-image: url(../img/map.jpg);
  height: 593px;
  margin-bottom: -120px;
}

.map iframe {
  border: none;
}

.footer-hashtag {
  width: 33.3%;
  margin: 0;
  text-align: center;
}

.footer-hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 3px;
  color: #000000;
  vertical-align: baseline;
}

.footer-social {
  width: 33.3%;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  margin-left: -3px;
}

.social-outline li {
  margin-right: 5px;
}

.social-outline li:last-child {
  margin-right: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-copyright {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.3%;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.website-by {
  padding-bottom: 4px;
}

.footer-copyright svg {
  padding-left: 7px;
  padding-top: 3px;
}

.social-button:hover path {
  fill: #ffffff;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active path {
  fill: #88b6d1;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright a {}

.icon-copyright:hover path {
  fill: #81b3d2;
}

.icon-copyright:active path {
  fill: #bdbbbc;
}

.inner-page {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

.content {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filter {
  width: 1200px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #81b3d2;
  background-image: url(../img/filter-background.png);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 19px;
  background-position-y: -57px;
  padding-top: 28px;
  padding-bottom: 19px;
}

.infrastructure {
  width: 242px;
  margin: 0;
  padding: 0;
}

.accommodation {
  width: 288px;
  margin: 0;
  padding: 0;
  margin-left: 12px;
}

.price-filter {
  width: 320px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  padding-right: 70px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  padding-left: 56px;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 16px;
}

.filter-ul>li {
  padding-bottom: 25px;
}

.filter-ul>li:last-child {
  padding-bottom: 0px;
}

.filter-option {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  padding-left: 95px;
}

.filter-input-checkbox + label:after {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0;
  left: 57px;
  background-image: url(../img/checkbox-off.svg);
}

.filter-input-checkbox:checked + label:after {
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:disabled + label:after {
  background: url(../img/checkbox-off-disabled.svg) 0 0 no-repeat;
  background-size: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-input-checkbox:disabled:checked + label:after {
  background: url(../img/checkbox-on-disabled.svg) 0 0 no-repeat;
  background-size: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*ЗДЕСЬ НАЧИНАЕТСЯ СЛОЖНЫЙ ФИЛЬТР В СЕДОНЕ */

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  vertical-align: middle;
  color: #ffffff;
  cursor: pointer;
  width: 50%;
  padding-left: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.price-controls .max-price {
  padding-left: 53px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  line-height: 21px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 87px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}


/*ЗДЕСЬ ЗАКАНЧИВАЕТСЯ СЛОЖНЫЙ ФИЛЬТР В СЕДОНЕ */

.sorting {
  width: 1200px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 31px 70px 29px;
}
.finded {
  margin: 0;
  padding: 0;
}

.sort-type {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-right: 42px;
}

.sorting-list {
  list-style: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1px;
  white-space: nowrap;
  margin-right: 50px;
}

.sorting-list li {
  margin-right: 33px;
}

.sorting-list li:last-child {
  margin: 0;
}

.sorting h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: block;
  margin-right: 48px;
}

.sorting-switch {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-bottom: 4px;
  white-space: nowrap;
}

.sorting-active {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  background-color: #ffffff;
}

.sorting-disabled {
  color: #cacaca;
  background-color: #fefefe;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-disabled:hover {
  color: #81b3d2;
}

.sorting-disabled:active {
  color: #000000;
}

.sorting-switch-up:hover image {
  fill: #000000;
}

.sorting-switch-up:active path {
  fill: #81b3d2;
}

.sorting-switch-up {
  margin-right: 6px;
  margin-top: 2px;
}

.sorting-switch-up a,
.sorting-switch-down a {
  color: #cacaca;
  background-color: #000000;
  text-decoration: underline;
}

.sorting-switch-up a:hover,
.sorting-switch-down a:hover {
  color: #231f20;
  background-color: #ffffff;
}

.sorting-switch-up a:active,
.sorting-switch-down a:active {
  color: #81b3d2;
  background-color: #ffffff;
}

.catalog-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-item {
  width: 1200px;
  margin: 0 auto;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-top: 1px solid #e5e5e5;
  padding-top: 34px;
  padding-bottom: 29px;
}

.catalog-list li:nth-child(3) {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.catalog-item-title:hover {
  color: #81b3d2;
}

.catalog-item-title:active {
  color: rgba(0, 0, 0, 0.302);
}

.catalog-item-category {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 110px;
  display: inline-block;
  vertical-align: baseline;
}

.catalog-item-price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 140px;
}

.catalog-item-details {
  margin-top: 13px;
}

.button-details {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 4px 16px 5px 15px;
  margin-right: 3px;
  text-transform: uppercase;
}

.button-details:hover {
  background-color: #669ec0;
}

.button-details:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #5496bd;
}

.button-booking {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  padding: 4px 16px 5px 15px;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #503e33;
}

.catalog-item-image {
  display: block;
  width: 135px;
  height: 90px;
  margin: 0;
  padding: 0;
  margin-left: 72px;
  margin-top: -4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.catalog-item-description {
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.description-outline-h {
  margin: 0;
  padding: 0;
}

.description-outline {
  margin: 0;
  padding: 0;
  margin-top: -9px;
}

.catalog-item-spans {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  display: inline-block;
  vertical-align: baseline;
}

.catalog-item-booking {
  width: 142px;
  padding: 0;
  margin: 0;
}

.rating-outline {
  margin-left: auto;
  padding-right: 70px;
}

.stars {
  margin: 0;
  padding: 0;
  text-align: right;
  margin-right: 2px;
  margin-top: -7px;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
  display: block;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 12px;
  margin-top: 47px;
  margin-right: 3px;
  white-space: nowrap;
}

